
.work-page-intro {
  margin: 50px 0;
  
  @media (min-width: $desktop) {
    margin: 150px 0;
  }
  
  &-flex {
    display: flex;
    flex-wrap: wrap;
    
    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
    
    &-item {
      
      // left side
      &:first-child {
        width: 100%;

        @media (min-width: $desktop) {
          width: 75%;
          padding-right: 223px;
        }
      }
      
      // right side
      &:last-child {
        width: 100%;

        @media (min-width: $desktop) {
          width: 25%;
        }
      }
    }
  }
  
  .description {
    margin: 45px 0;
    font-size: 1.5rem;
  }
  
  .service-list {
    
    &-item {
      margin-bottom: 15px;
      font-size: .9rem;
    }
    
    &-more {
      max-height: 0;
      opacity: 0;
      
      &.active {
        max-height: 1000px;
        opacity: 1;
        transition: max-height, opacity 0.2s ease-in;
        padding-top: 20px;
        @media (min-width: 992px) {
          padding-top: 0;
        }
      }
    }
    
    &-title {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
    
    // the animation for these will take some TLC
    &-toggle {
      border: none;
      outline: 0;
      background: transparent;
      position: relative;
      z-index: 2;
      padding: 25px 0 0;
      border-top: 1px solid $grey;
      width: 100%;
      font-size: 0.9rem;
      font-weight:  500;
      margin-top: 15px;
      @media (min-width: 992px) {
        padding: 20px 0 0;  
      }
      
      span {
        display: flex;
        align-items: center;
        line-height: 1;
        
        img {
          margin-right: 15px;
        }
      }
    }
  }
}

.our-work-page {
  .intro-block {
    padding-top: 100px;
  }
  .intro-block-text {
    max-width: 616px;
    margin: 0 auto;
    padding-left: 0;
  }
}