.btn {
  display: inline-block;
  padding: 21px 30px;
  background: $black;
  color: $white;
  border: 3px solid $black;
  border-radius: 55px;
  transition: background 0.1s ease-in;
  
  &:hover {
    background: $white;
    text-decoration: none;
    transition: background 0.1s ease-in;
  }
  
  @media (min-width: $tablet) {
    padding: 33.5px 53.42px 36.5px;
  }
  
  // smaller version
  &.btn-secondary {
    padding: 16px 37px;

    @media (min-width: $tablet) {
      padding: 15px 28px;
    }
  }
  
  
  &.btn-pink {
    background: $pink;
  }
  
  &.btn-outline {
    border: 1px solid $black;
    background: transparent;
    color: $black;
  }
}