.btn {
  display: inline-block;
  padding: 21px 30px;
  background: $black;
  color: $white;
  border: 3px solid $black;
  border-radius: 55px;
  transition: all 0.25s ease-in-out;
  line-height: 1.5;

  &:hover {
    background: $white;
    text-decoration: none;
    color: $black;
  }

  @media (prefers-color-scheme: dark) {
    background: $white;
    color: $black;
    border: 3px solid $white;

    &:hover {
      background: $black;
      color: $white;
    }
  }
  
  @media (min-width: $tablet) {
    padding: 33.5px 53.42px 36.5px;
  }
  
  // smaller version - 67px height
  // uses same hover state as default button
  &.btn-secondary {
    padding: 16px 37px;
    line-height: 1.25;

    @media (min-width: $tablet) {
      padding: 15px 43px;
    }
  }

  // even smaller version - 40px height
  &.btn-tertiary {
    padding: 15px 15px;
    line-height: 1;

    @media (min-width: $tablet) {
      padding: 10px 10px;
    }

    &:hover {
      color: $red;
      border-color: $red;
      text-decoration: none;
    }
  }

  // tool tip
  &.btn-tooltip {
    width: 1.75em;
    height: 1.75em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    vertical-align: bottom;
    font-family: $heading-font-family;
    font-weight: 500;
  }
  
  
  &.btn-pink {
    background: $pink;
  }
  
  &.btn-outline {
    border: 1px solid $black;
    background: transparent;
    color: $black;

    &:hover {
      color: $red;
      border-color: $red;
      text-decoration: none;
    }
  }

  &.btn-outline-alt {
    border: 3px solid $black;
    background: transparent;
    color: $black;

    &:hover, &:disabled {
      color: $white;
      background: $black;
      text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
      border: 3px solid $white;
      color: $white;

      &:hover, &:disabled {
        color: $black;
        background: $white;
      }
    }
  }
}

/* Link that on hover animates in an icon */
.cta-animate-arrow {

  .light-arrow {
    display: none;
  }

  img {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateX(0);
  }
  &:hover {
    img {
      opacity: 1;
      transform: translateX(10px);
    }
  }

  @media (prefers-color-scheme: dark) {
    .dark-arrow {
      display: none;
    }

    .light-arrow {
      display: inline;
    }
  }
}

/* Small bold links that usually link outside of the evanshunt.com domain */
.external-link {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 10px;
  display: block;

  .light-arrow {
    display: none;
  }
}


/* Inline Video Components and Homepage Videos have Play/Pause SVG Animation */
svg.play-pause {
  width: 40px;
  height: 40px;
  max-height: 25px;
  padding: 4px 2px 4px 4px;
  @media (min-width: $tablet) {
    padding: 4px 3px 3px 5px;
  }
  @media (min-width: $desktop-large) {
    padding: 4px 3px 3px 6px;
    max-height: 40px;
  }
  line {
    fill:none;
    stroke:$black;
    stroke-linecap:square;
    stroke-width:8px;
  }
}

@media (prefers-color-scheme: dark) {
  button {
    color: $white;
  }
}