#header-main {
  padding: 22px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background: transparent;
  z-index: 2;
  width: 100%;

  @media (min-width: 992px) {
    padding: 53px 58px;
    align-items: flex-end;
  }

  // Inline version - the version that sits within the document flow, and sits atop a white background
  &.nav-inline {
    position: relative;
    
    #header-logo #ComponentsNavLogo{
      fill: $red;
    }
    
    .header-nav-link, .header-nav-toggle {
      color: $black;
    }
  }
  

  // Mobile - when the Nav is open
  &.nav-active {
    background: $lightgrey;

    #header-logo #ComponentsNavLogo{
      fill: $red;
    }

    .header-nav-toggle {
      color: $black;
    }
  }
}

// EH Logo in the header
#header-logo {
  max-width: 86px;
  width: 100%;
  height: auto;
  @media (min-width: 992px) {
    max-width: none;
  }
}

.header-nav {
  line-height: 1;
  position: absolute;
  top: 70px;
  left: -100%;
  width: 100%;
  background: $lightgrey;
  height: calc(100vh - 70px);
  
  &.active {
    transform: translateX(100%);
  }

  @media (min-width: 992px) {
    position: relative;
    top: auto;
    left: auto;
    background: none;
    height: auto;
  }
  
}

.header-nav-link {
  display: block;
  color: $black;
  line-height: 1;
  margin: 20px 42px 20px 64px;
  text-transform: uppercase;
  
  
  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: line-through;
    color: $black;
  }

  @media (min-width: 992px) {
    display: inline-block;
    color: $white;
    margin: 0 25px 0 0;

    &:hover {
      color: $white;
    }
  }
  
  @media (min-width: $desktop-large) {
    margin: 0 53px 0 0;
  }
}

// Nav toggle - only shows up on mobile
.header-nav-toggle {
  display: block;
  border: none;
  outline: none;
  background: none;
  color: $white;
  
  @media (min-width: 992px) {
    display: none;
  }
}

.header-nav-contact-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  @media (min-width: 992px) {
    display: none;
  }
}

.header-nav-contact {
  padding: 0 60px 60px; 
  
  &-heading {
    margin-bottom: 10px;  
  }
  
  &-link {
    color: $black;
    text-transform: none;
  }
}

.header-nav-contact-shape {
  background: $white;
  height: 160px;
  border-top-left-radius: 13vw;
  width: 100%;
}