.img-fluid {
  max-width: 100%;
  height: auto;
}

.video-fluid {
  width: 100%;
  height: auto;
}

.external-link-icon {
  display: inline-block;
  margin-top: -3px;
  margin-left: 10px;

  &-light {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    &-dark {
      display: none;
    }

    &-light {
      display: inline-block;
    }
  }
}