html {
  overflow-y: scroll;  
}

body {
  
  &.nav-open {
    position: fixed;
    width: 100%;
    header {
      overflow-y: auto;
      height: 100%;
      .header-nav {
        height: 100vh;
        overflow-y: auto;
      }
      .header-nav-links {
        //height: 80vh;
      }
      .header-nav-contact-box {
        //height: 20vh;
      }
    }
  }
}

.container {
  padding: 0 15px;
  max-width: 100%;
  
  @media (min-width: $large-phone) {
    max-width: 92%;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    max-width: 720px;
  }

  @media (min-width: $desktop) {
    max-width: 960px;
  }

  @media (min-width: $desktop-large) {
    max-width: 1325px;
  }
  
}


// strange need for this in some cases, mainly above 1440px. the rest matches the normal container
.container-medium {
  padding: 0 15px;
  max-width: 100%;
  
  @media (min-width: $large-phone) {
    max-width: 92%;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    max-width: 720px;
  }

  @media (min-width: $desktop) {
    max-width: 960px;
  }

  @media (min-width: $desktop-large) {
    max-width: calc(1100px + 30px); // calc for padding
  }
}

.container-narrow {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 800px;
}

.outdated-browser {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(255,255,255, 0.96);
  flex-direction: column;
  text-align: center;
  
  svg {
    display: block;
    margin-bottom: 20px;
  }
}