a {
  color: $black;
  
  &:hover {
    color: lighten(#000, 10%);
  }
}

ul {
  list-style: none;
  padding-left: 0;
  
  li {
    margin-bottom: 2.5px;
  }
}

.base-font {
  font-family: 'UntitledSans', Arial, sans-serif;
  font-weight: $regular;
  
  &-medium {
    font-family: 'UntitledSans', Arial, sans-serif;
    font-weight: $medium;  
  }

  &-bold {
    font-family: 'UntitledSans', Arial, sans-serif;
    font-weight: $bold;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}