section.accordion {
  .title {
    font-weight: $bold;
    
    @media (min-width: $desktop) {
      margin-bottom: 2rem;
    }
  }

  .accordion__item {
    border-top: 1px solid #D6DDE0;

    &:last-of-type {
      border-bottom: 1px solid #D6DDE0;
    }

    @media (prefers-color-scheme: dark) {
      border-color: $darkgrey;

      &:last-of-type {
        border-color: $darkgrey;
      }
    }
  }

  .accordion__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.875rem 0;
    width: 100%;
    text-align: left;
    border: none;
    @extend h2;
    margin: 0;
    font-weight: $medium;
    font-size: 24px;

    @media (min-width: $desktop) {
      padding: 2.75rem 0;
      font-size: 32px;
    }
  }

  .toggle-icon {
    position: relative;
    width: 20px;
    height: 20px;
    
    &:before,
    &:after{
      content: "";
      position: absolute;
      background-color: $red;
      transition: transform 0.25s ease-out;
    }

    /* Vertical line */
    &:before{
      top: -0.5px;
      left: 50%;
      width: 3px;
      height: 100%;
      margin-left: -1px;
    }

    /* horizontal line */
    &:after{
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      margin-top: -2px;
    }
  }

  .accordion__button[aria-expanded="true"],
  .accordion__button[aria-selected="true"] {
    .toggle-icon {
      cursor: pointer;

      &:before{ transform: rotate(90deg); }
      &:after{ transform: rotate(180deg); }
    }
  }

  [hidden] {
    display: none;
  }

  .accordion__panel {
    padding: 20px;
    max-width: 790px;
    animation: fadein 0.5s ease-in;
    font-size: 14px;

    @media (min-width: $desktop) {
      font-size: 1rem;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      max-height: 0;
    }
    
    50% {
      max-height: 1000px; // this makes the height appear to animate
    }

    100% {
      opacity: 1;
    }
  }

  .services-list {
    color: #587B84;
    padding: 1rem 0;

    @media (min-width: $desktop) {
      column-count: 2;
    }

    li {
      line-height: 1.75;
      font-size: 1rem;

      @media (min-width: $desktop) {
        font-size: 20px;
      }
    }
  }
}
