.centre-aligned-text {
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet) {
    padding-bottom: 75px;
    padding-top: 75px;
  }
  
  // leave a little padding because it'll probably get ugly otherwise - for now at least
  $minimum-padding: 10px;
  
  &.no-padding {
    padding-top: $minimum-padding;
    padding-bottom: $minimum-padding;
  }
  
  &.no-padding-top {
    padding-top: $minimum-padding;
  }

  &.no-padding-bottom {
    padding-bottom: $minimum-padding;
  }
  
  .title {
    font-size: 1.56rem;
    text-align: center;
    margin-bottom: 30px;
    
    @media (min-width: $tablet) {
      font-size: 3.125rem;
    }
  }
  
  .text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
}