/** Default Base Styling here
Overrides can be specified by filling in the "AdditionalClass" field in Contentful and referencing the selector below
**/
.decorative-line {
  padding: 20px 15px;
  
  @media (min-width: $tablet) {
    padding: 45px 15px;
  }

  @media (min-width: $desktop) {
    padding: 75px 15px;
  }
  
  // overlap is for tablet and above only
  @media (min-width: $tablet) {
    &.overlap-above {
      padding-top: 0;
      margin-top: -27px;
    }

    &.overlap-below {
      padding-bottom: 0;
      margin-bottom: -27px;
    }

    &.overlap-both {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: -27px;
      margin-bottom: -27px;
    } 
  }
  
  &.hidden-on-mobile {
    @media (max-width: 719px) {
      display: none !important;
    }
  }
  
  img, svg {
    margin: 0 auto;
    display: block;
  }

  .svg-wrapper {
    width: 100%;
    margin: 0 auto;
    // Need to manually set widths/heights for each SVG option as they are all different sizes
    svg.svg-curve-left-to-right {
      height: auto;
      width: 100%;
      @media (min-width: $tablet) {
        height: 337px;
      }
    }
    svg.svg-curve-right-to-left {
      height: auto;
      width: 100%;
      @media (min-width: $tablet) {
        height: 337px;
      }
    }
    svg.svg-down-left {
      height: 50px;
    }
    svg.svg-down-long-left {
      height: 200px;
      @media (min-width: $tablet) {
        height: 356px;
      }
    }
    svg.svg-down-right {
      height: 200px;
      @media (min-width: $tablet) {
        height: 317px;
      }
    }
    svg.svg-down-short {
        height: 192px;
    }
  }

  /* Overrides here */
  /* Additional Classes - this is an optional field in Contentful */

  &.right-side {
    svg {
      @media (min-width: $tablet) {
        margin-left: auto;
        margin-right: 8%;
      }
    }
  }
  &.off-center-left {
    .svg-wrapper {
      @media (min-width: $tablet) {
        width: 70%;
      }
      @media (min-width: $desktop) {
        width: 100%;
      }
    }
    svg {
      @media (min-width: $tablet) {
        margin-left: -5%;
        margin-right: auto;
      }
    }
  }
  /* Case Studies use this one */
  &.half-width {
    .svg-wrapper {
      width: 50%;
    }
  }
}