.dei-report-year {
  display: none;

  &.selected {
    display: block;
  }

  .question {
    .tooltip {
      display: none;
      
      &.open {
        display: block;
      }
    }

    .summary {
      display: none;

      &.selected {
        display: block;
      }
    }
  }
}

