.featured-projects {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  
  @media (min-width: $desktop) {
    padding-bottom: 100px;
  }
  
  &-list {
    position: relative;
    
    img {
      display: block;
      margin-bottom: 20px;
      height: 420px;
      object-fit: cover;

      @media (min-width: $tablet) {
        height: auto;
        object-fit: none;
      }
    }
  }
}

.featured-projects-btn {
  position: absolute;
  right: -10px;
  bottom: -40px;
  
  @media (min-width: $desktop) {
    right: 50px;
    bottom: -50px;
  }
}