section.gradient-block {
  overflow: hidden;
  background-image: linear-gradient(192deg, #FF0015 2%, #B4AAFF 100%);
  min-height: 224px;
  display: flex;
  align-items: center;
  justify-content: left;

  .container-narrow {
    flex-shrink: 0;
    width: 100%;
  }

  @media (min-width: $desktop-large) {
    min-height: 425px;
  }

  h1, p {
    color: $white;
  }

  h1 {
    font-weight: $medium;
    font-size: 30px;
    @media (min-width: $desktop) {
      font-size: 70px;
    }
  }

  p {
    font-size: 1rem;
    @media (min-width: $desktop) {
      font-size: 20px;
    }
  }

  &.space {
    margin-top: 60px;

    @media (min-width: $desktop) {
      margin-top: 150px;
    }
  }
}