section.hero-banner {
  position: relative;
  width: 100%;
  height: 474px;
  border-radius: 0 0 15vw 0;
  overflow: hidden;
  z-index: 1;

  @media (min-width: $desktop) {
    height: 700px;
  }

  &.tall {
    height: 300px;

    @media (min-width: $large-phone) {
      height: 500px;
    }

    @media (min-width: $tablet) {
      height: 535px;
    }

    @media (min-width: $desktop) {
      height: 650px;
    }

    @media (min-width: $desktop-large) {
      height: 850px;
    }

    @media (min-width: $desktop-extra-large) {
      height: 850px;
    }

  }

  #gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;

    &.red {
      --gradient-color-1: #FFA139;
      --gradient-color-2: #E9582F;
      --gradient-color-3: #EF1418;
      --gradient-color-4: #EC1A1B;
    }

    &.green {
      --gradient-color-1: #22e7a0;
      --gradient-color-2: #5cddf2;
      --gradient-color-3: #1371e5;
      --gradient-color-4: #18afc7;
    }

    &.purple {
      --gradient-color-1: #4150ea;
      --gradient-color-2: #b337f3;
      --gradient-color-3: #874bb0;
      --gradient-color-4: #5d1ee0;
    }

    &.pink {
      --gradient-color-1: #E827A9;
      --gradient-color-2: #F145BC;
      --gradient-color-3: #E43f4D;
      --gradient-color-4: #E75B26;
    }


    &.blue {
      --gradient-color-1: #2fcffd;
      --gradient-color-2: #fd0f15;
      --gradient-color-3: #9674e1;
      --gradient-color-4: #3560b4;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
  }

  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
  }
  
  .hero-banner-flat {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    background-color: #F72954;
  }

  .banner-text {
    padding-right: 4rem;
    position: absolute;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $desktop) {
      padding-right: 50px;
      padding-left: 58px;
      height: 700px;
    }

    @media (min-width: $desktop-large) {
      padding-right: 200px;
    }

    .small-text,
    .large-text {
      color: $white;
    }

    .small-text {
      font-weight: $bold;
      margin-left: 2rem;
      @media (min-width: $desktop) {
        margin-left: 171px;
      }
    }

    .large-text {
      margin-left: 2rem;
      font-weight: $medium;
      max-width: 880px;

      @media (min-width: $desktop) {
        font-size: 70px;
        margin-left: 171px;
      }
      @media (min-width: $desktop-large) {
        font-size: 90px;
      }
    }

    .line {
      height: 1px;
      background-color: #fff;
      display: block;
      width: 1.5rem;
      margin-top: -30px;
      margin-right: 0.5rem;
      @media (min-width: $desktop) {
        width: 153px;
        margin-right: 1rem;
      }
    }

  }

  // Video player controls
  .video-control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 22px;
    z-index: 10;
    border: none;
    outline: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid $grey;
    @media (min-width: $tablet) {
      bottom: 55px;
      left: 40px;
      height: 50px;
      width: 50px;
    }
    @media (min-width: $desktop-large) {
      height: 80px;
      width: 80px;
    }
    /* Global styling is inside of global/buttons.scss */
    svg.play-pause {
      .play-1, .play-2 {
        opacity: 0;
      }
    }
  }
}
