/*** This still needs styling for the different "variants"
- Margin on Top left Image
- Margin on Top Right Image
***/

.images-block {
  margin-bottom: 75px;
  margin-top: 75px;
  @media (min-width: $large-phone) {
    margin-top: 150px;
  }

  &-columns {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: nowrap;
    }
    @media (min-width: $large-phone) {
      align-items: flex-start;
    }
  }


  &-column {
    width: 100%;
    margin: 0 auto;
    @media (min-width: $tablet) {
      width: auto;
    }
    
    img {
      margin-bottom: 10px;
      display: inline-block;
      width: calc(50% - 5px);
      height: 50vw;
      object-fit: cover;

      @media (min-width: $tablet) {
        width: auto;
        display: block;
        height: auto;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (min-width: $desktop) {
        object-fit: none;
      }
    }
  }

  &-column-1 {
    order: 1;
    @media (min-width: $tablet) {
      order: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: $desktop) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &-column-2 {
    order: 0;
    @media (min-width: $tablet) {
      order: 1;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: $desktop) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  // slider is hidden above tablet
  .react-slider-images {
    @media (min-width: $tablet) {
      display: none;
    }

    .carousel__slider-tray {
      align-items: center;
    }

    .images-block-slider-img {
      margin-bottom: 40px;
    }
  }
}