.inline-video {
  position: relative;
  margin-top: 60px;
  margin-bottom: 100px;

  @media (min-width: $tablet) {
    margin-top: 135px;
  }
  
  &-control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 22px;
    @media (min-width: $tablet) {
      bottom: 55px;
      left: 40px;      
    }
  }
  
  video {
    object-fit: cover;
    max-height: 700px;
  }
  
  &-play {
    border: none;
    outline: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid $grey;
    
    @media (min-width: $tablet) {
      height: 100px;
      width: 100px;
    }

    svg.play-pause {
      max-width: 24px;
      width: 100%;
      height: 100%;
      max-height: 30px;
      line {
        fill:none;
        stroke:$black;
        stroke-linecap:square;
        stroke-width:8px;
      }
      .pause-1, .pause-2 {
        opacity: 0;
      }
    }
  }
  
  &-title {
    color: $white;
    margin-left: 20px;
  }
}