.inline-video {
  position: relative;
  margin-top: 60px;
  margin-bottom: 100px;

  @media (min-width: $tablet) {
    margin-top: 135px;
  }

  video {
    object-fit: cover;
    max-height: 700px;
  }

  .text-wrapper {
    top: auto;
    bottom: 8px;
    position: absolute;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-image: linear-gradient(179deg, rgba(238,238,238,0.00) 17%, rgba(0,0,0,0.4) 84%);
    display: flex;
    align-items: center;
    @media (min-width: $desktop) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &-play {
    border: none;
    outline: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid $grey;
    
    @media (min-width: $tablet) {
      height: 50px;
      width: 50px;
    }

    @media (min-width: $desktop-large) {
      height: 80px;
      width: 80px;
    }

    svg.play-pause {
      width: 42px;
      height: 42px;
      max-height: 25px;
      padding: 4px 2px 4px 4px;
      @media (min-width: $tablet) {
        padding: 4px 3px 3px 5px;
      }
      @media (min-width: $desktop-large) {
        padding: 4px 3px 3px 6px;
        max-height: 42px;
      }
      line {
        fill:none;
        stroke:$black;
        stroke-linecap:square;
        stroke-width:8px;
      }
      .pause-1, .pause-2 {
        opacity: 0;
      }
    }
  }

  &-title {
    color: $white;
    margin-left: 20px;
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: 18px;
    letter-spacing: 0;
    @media (min-width: $desktop) {
      font-size: 30px;
    }
  }
}