.inline-video {
  position: relative;
  margin-top: 60px;
  
  @media (min-width: $tablet) {
    margin-top: 135px;
  }
  
  &-control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 22px;
    @media (min-width: $tablet) {
      bottom: 55px;
      left: 40px;      
    }
  }
  
  &-play {
    border: none;
    outline: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    
    @media (min-width: $tablet) {
      height: 100px;
      width: 100px;
    }
  }
  
  &-title {
    color: $white;
    margin-left: 20px;
  }
}