.intro-block {
  padding: 50px 30px;
  
  @media (min-width: $desktop) {
    padding: 179px 179px 107px;  
  }
  
  &.centered {
    text-align: center;
  }
}

.intro-block-title {
  font-size: 2.1rem;
  margin-bottom: 45px;
  @media (min-width: $desktop) {
    font-size: 3.68rem;
    margin-bottom: 65px;
  }
  @media (min-width: $desktop-large) {
    max-width: 1050px;
    margin: 0 auto 65px;
  }
}

.intro-block-text {
  padding-left: 25px;

  @media (min-width: $desktop) {
    margin: 0 auto;
    max-width: 850px;
  }
  @media (min-width: $desktop-large) {
    padding-left: 0;

    p {
      font-size: 1.562rem;
    }
  }

  .btn {
    margin-top: 1rem;

    @media (min-width: $desktop) {
      margin-top: 2rem;
    }
  }
}