.left-right-text-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 75px 0;
  
  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    margin: 150px 0;
  }
  
  .title {
    margin-top: 0;
  }
  
  .description {
    p {
      font-size: 1.25rem;
    }
    ul {
      font-size: 1.25rem;
      list-style: disc;
      list-style-position:outside;
      margin: 0 0 2rem 1.5rem;
    }
    ol {
      font-size: 1.25rem;
      list-style: decimal;
      list-style-position: outside;
      margin: 0 0 2rem 1.5rem;
    }
  }
  
  .left-text {
    width: 100%;

    @media (min-width: $desktop) {
      width: 22%;
    }
  }
  
  .right-text {
    width: 100%;

    @media (min-width: $desktop) {
      
      padding-left: 80px;
    }
  }
}