section.open-positions {
  padding: 3rem 1rem;

  @media (min-width: $desktop) {
    padding: 6rem 10rem;
  }

  @media (min-width: $desktop-large) {
    padding: 9rem 19rem;
  }

  h1, .intro-text {
    text-align: center;
  }

  h1 {
    font-size: 34px;
    @media (min-width: $desktop) {
      font-size: 70px;
      margin-bottom: 2rem;
    }
  }

  .intro-text:after {
    font-size: 13px;
    margin-bottom: 3rem;
    @media (min-width: $desktop) {
      font-size: 25px;
      margin-bottom: 5rem;
    }
  }

  .position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D6DDE0;
    min-height: 100px;


    @media (min-width: $desktop) {
      min-height: 126px;
    }

    &:first-of-type {
      border-top: 2px solid #D6DDE0;
    }

    .title {
      font-size: 18px;
      font-weight: $medium;
      margin-bottom: 0;
      @media (min-width: $desktop) {
        font-size: 30px;
      }
    }

    .department {
      margin-bottom: 0;
      font-size: 13px;
      @media (min-width: $desktop) {
        font-size: 1rem;
      }
    }

    .svg-open-position {
      max-width: 180px;
      .label {
        fill: $white;
        isolation:isolate;
        margin-right: 15px;
        font-size:16px;
        font-family:$base-font-family;
        font-weight:500;
        letter-spacing:0.01em;
      }
      .bg {
        transform-origin: center right;
        fill: transparent;
      }
      .arrow {
        fill: $black;
      }
    }

    &:hover {
      text-decoration: none;
      .svg-open-position {
        .bg {
          fill: $black;
        }
      }
    }
  }
}