.our-team {
  margin-top: 40px;
  margin-bottom: 75px;
  padding: 0 15px;
  
  &-title {
    text-align: center;
    
    svg {
      display: inline-block;
      margin: 0 10px;
    }
  }
  
  &-intro {
    text-align: left;
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      text-align: center;  
      margin-bottom: 90px;
    }
  }
  
  &-leaders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  &-leader {
    width: 50%;
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      width: 33.32%;
      margin-bottom: 82px;
      text-align: center;
    }
  }
}