.related-work {
  background: $lightestgrey;
  padding: 65px 0;

  @media (prefers-color-scheme: dark) {
    background: $darkestgrey;
  }
  
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  &-flex {
    display: none;
    @media (min-width: $tablet) {
      display: flex;
    }

    
    &-item {
      margin-right: 15px;
      
      &:last-child {
        margin-right: 0;
      }

      .related-work-link {
        display: block;
        overflow: hidden;
      }

      img {
        transform: scale(1.1);
        transition: transform 0.3s ease, opacity 0.4s ease-in-out;
        opacity: 1;
      }

      @media (min-width: $desktop) {
        &:hover {

            img {
              transform: scale(1);
              opacity: 0.6;
            }

        }
      }

    }
  }

  .related-work-link {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }

  .related-work-title {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  // slider is hidden above tablet
  .react-slider-images {
    display: block;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}