.related-work {
  background: #EBEDEE;
  padding: 65px 0;
  
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  &-flex {
    display: none;
    @media (min-width: $tablet) {
      display: flex;
    }

    
    &-item {
      margin-right: 15px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .related-work-link {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }

  .related-work-title {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  // slider is hidden above tablet
  .react-slider-images {
    display: block;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}