.service-block {
  padding-top: 75px;
  @media (min-width: $tablet) {
    padding-top: 100px;  
  }
  
  &-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
      flex-wrap: nowrap;
    }
  }

  .text-left {
    .service-block-text {
      @media (min-width: $tablet) {
        margin-left: 3rem;
      }
    }
  }

  .text-right {
    .service-block-text {
      @media (min-width: $tablet) {
        margin-right: 3rem;
      }
    }
  }
  
  &-text {
    order: 1;
    @media (min-width: $tablet) {
      order: 0;
      max-width: 405px;
    }
  }

  &-title {
    font-size: 26px;
    margin-bottom: 30px;
    @media (min-width: $tablet) {
      font-size: 70px;
    }
  }
  
  &-copy {
    padding-left: 15px;
    font-size: 16px;
    @media (min-width: $tablet) {
      padding-left: 40px;
    }
  }
  
  &-services {
    margin-bottom: 25px;  
  }
  
  &-service {
    color: $service-green;
    margin-bottom: 10px;
  }
  
  &-img {
    
    @media (min-width: $tablet) {
      padding: 30px;  
    }
    
    img {
      display: block;
      margin: 0 auto;
    }
  }
}