.service-circles {
  max-width: 1102px;
  margin: 0 auto;
  text-align: center;
  padding: 85px 15px 80px;
  @media (min-width: $tablet) {
    padding: 160px 15px 30px;  
  }

  @media (min-width: $desktop-large) {
    padding: 300px 15px 30px;
  }
  
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 55px;
    flex-wrap: wrap;
    
    @media (min-width: $tablet) {
      justify-content: space-between;  
    }
  }
  
  .btn {
    margin-bottom: 30px;
    @media (min-width: $desktop) {
      min-width: 220px;
    }
  }
  
  &-title {
    @media (min-width: $desktop) {
      font-size: 70px;
    }
  }
  
  &-copy {
    margin-bottom: 50px;
  }
}

.service-circle-column {
  width: 50%;

  @media (min-width: $desktop) {
    width: 25%;
  }
}

.service-circle {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $pink;
  margin: 0 auto 35px;
  flex-direction: column;
  transition: background 0.3s ease;
  padding: 10px 20px;

  @media (min-width: $large-phone) {
    height: 180px;
    width: 180px;
  }
  
  @media (min-width: $tablet) {
    height: 240px;
    width: 240px;
  }

  @media (min-width: $desktop) {
    &:hover {
      background: $black;
      transition: all 0.1s ease;
      transform: scale(1.2);

      .service-circle-description {
        display: block;
      }
      .service-circle-title {
        margin-bottom: 10px;
      }
    } 
  }
  
  span {
    color: $white;
  }
  
  &-title {
    font-size: 1.25rem;
  }
  
  &-description {
    display: none;
    font-size: 14px;
  }
}


// specific gradients - not perfect yet... need creative help probably
.service-circle-1 {
  background-image: linear-gradient(to bottom right, $orange, #ff4700);
}

.service-circle-2 {
  background-image: linear-gradient(to bottom right, #ff4d06, #fa3944);
}

.service-circle-3 {
  background-image: linear-gradient(to bottom right, #ff2a1e, #ee396c);
}

.service-circle-4 {
  background-image: linear-gradient(to bottom right, #f2395e, #de4998);
}