section.services-pagination {
  text-align: center;
  padding: 7rem 0;

  h3 {
    @media (min-width: $desktop) {
      margin-bottom: 3rem;
    }
  }

  svg.svg-arrow-right, svg.svg-arrow-left {
    max-width: 32px;
    width: 100%;
    .arrow {
      transition: fill 0.3s ease-in-out;
      fill: $black;
    }
  }

  .pagination {
    border: 2px solid $black;
    min-width: 70px;
    height: 70px;
    display: inline-flex;
    flex-wrap: nowrap;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin: 0 0.5rem;
    @media (min-width: $desktop) {
      min-width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    .page-name {
      margin-bottom: 0;
      color: $white;
      font-weight: 500;
      text-transform: capitalize;
      display: none;
    }

    &:hover {
      background: $black;
      padding: 0 40px;
      text-decoration: none;

      &.prev {
        .page-name {
          margin-left: .5rem;
          @media (min-width: $large-phone) {
            margin-left: 1rem;
          }
        }
      }

      &.next {
        .page-name {
          margin-right: .5rem;
          @media (min-width: $large-phone) {
            margin-right: 1rem;
          }
        }
      }

      .page-name {
        display: block;
      }

      .arrow {
        fill: $white;
      }
    }
  }
}

// pg = pagination abbreviated 
.pg-flex {
  display: flex;
  
  &-col {
    width: 50%;
    display: flex;
    
    &:first-child {
      justify-content: flex-end;
      padding-right: 7.5px;
    }
    
    &:last-child {
      justify-content: flex-start;
      padding-left: 7.5px;
    }
  }
}