.service-block {
  padding-top: 75px;
  @media (min-width: $tablet) {
    padding-top: 80px;
  }
  
  &-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
      flex-wrap: nowrap;
    }
  }

  .text-left {
    .service-block-text {
      @media (min-width: $desktop) {
        margin-left: 3rem;
      }
    }
  }

  .text-right {
    .service-block-text {
      @media (min-width: $desktop) {
        margin-right: 3rem;
      }
    }
  }
  
  &-text {
    order: 1;
    @media (min-width: $tablet) {
      order: 0;
    }
    @media (min-width: $desktop) {
      max-width: 405px;
      padding-top: 100px;
    }
  }

  &-title {
    font-size: 26px;
    margin-bottom: 30px;
    @media (min-width: $tablet) {
      font-size: 70px;
    }
  }
  
  &-copy {
    padding-left: 15px;
    font-size: 16px;
    @media (min-width: $tablet) {
      padding-left: 40px;
    }
  }
  
  &-services {
    margin-bottom: 25px;  
  }
  
  &-service {
    color: $service-green;
    margin-bottom: 10px;
  }
  
  &-img {
    position: relative;
    min-width: 300px;
    @media (min-width: $desktop) {
      padding: 30px;  
    }
    
    img {
      margin: 0 auto;
    }
    .img-background {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .img-right-side {
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        margin-right: 0;
      }
    }
    .img-left-side {
      position: absolute;
      bottom: -15%;
      left: 0;
      img {
        margin-left: 0;
      }
    }
  }


  /* Some Service Blocks need slightly different styling */
  /* The images are all over the place for size/placement so adjusting those values as well */
  &.strategy {
    .service-block-text {
      padding-top: 75px;
    }
    .img-right-side {
      right: -15px;
    }
    .img-left-side {
      bottom: 5%;
      left: 18%;
    }
  }

  &.digital {
    padding-top: 20px;
    @media (min-width: $tablet) {
      padding-top: 0;
    }
    .img-right-side {
      right: -8%;
      bottom: 4%;
    }
    .img-left-side {
      bottom: -8%;
      left: -15px;
    }
  }

  &.branding {
    margin-top: -180px;
    .img-right-side {
      left: -8%;
      right: auto;
      bottom: 20%;
    }
    .img-left-side {
      left: -37%;
      bottom: 0;
    }
  }

  &.marketing {
    padding-top: 0;
    margin-top: -160px;
    padding-bottom: 100px;
    .service-block-text {
      margin-right: 10rem;
    }
    .img-right-side {
      bottom: -13%;
    }
  }

}