.react-slider {
  
  &-slide {
    
  }
  
  .slide-inner {
    padding-right: 25px;
    padding-bottom: 15px;
    
    img {
      margin-bottom: 15px;
    }
  }
  
  &-dot-group {
    display: flex;
    justify-content: center;
    
    button {
      width: 10%;
      border: none;
      outline: 0;
      height: 5px;
      
      &:disabled {
        background: $darkgrey;
      }
    }
  }
  
  p {
    max-width: 400px;
    display: none;
    
    @media (min-width: $desktop) {
      display: block;
    }
  }
  
  h6 {
    //display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }
}

.react-slider-wrap {
  padding-left: 15px;
  margin-bottom: 40px;
  margin-top: 75px;

  // these help it match up with the regular container breakpoints
  // 100vw - container max-width + container 30px of padding / 2
  @media (min-width: $large-phone) {
    padding-left: calc((100vw - 92% + 30px)/2);
  }
  @media (min-width: $tablet) {
    padding-left: calc((100vw - 720px + 30px )/2);
  }
  @media (min-width: $desktop) {
    padding-left: calc((100vw - 960px + 30px )/2);  
  }
  @media (min-width: $desktop-large) {
    padding-left: calc((100vw - 1325px + 30px)/2);
  }
  
  // currently used for normal slide types, not clients
  &.narrower {
    @media (min-width: $desktop-large) {
      padding-left: calc((100vw - 1110px + 15px)/2) !important;
    }
  }
}