.work-grid {
  margin-bottom: 130px;
  
  &-columns {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktop-large) {
      justify-content: center;
    }
  }
  
  .more-columns {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 75px;
    
    .work-grid-columns {
      height: 0;  
    }
    
    &.show-all {
      transition: opacity 0.2s ease;
      opacity: 1;
      max-height: none;
      overflow: visible;
      
      .work-grid-columns {
        height: auto;
      }
    }
  }
  
  .show-all-btn {
    text-align: center;
    opacity: 1;
    
    &.hidden {
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }
 
  &-column {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    position: relative;

    @media (min-width: $tablet) {
      width: calc(50% - 20px);
      
      &:nth-child(odd) {
        margin-right: 20px;
      }
      &:nth-child(even) {
        margin-left: 20px;
        margin-top: 40px;
      }
    }

    @media (min-width: $desktop) {
      &:hover {
        
        .work-grid-img-link {
          img {
            transform: scale(1);
            opacity: 0.6;
          }
        }
        
        .work-grid-cta {
          opacity: 1;
          transition: opacity 0.4s ease-in;
          
          a:hover {
            background: $black;
            text-decoration: none;

            @media (min-width: $desktop) {
              color: $black;
              background: $white;
            }
          }
        }
      }
    }

    @media (min-width: $desktop-large) {
      width: 520px;
    }
  }
  
  &-img {
    position: relative;
    display: block;
  }

  &-img-link {
    display: block;
    overflow: hidden;
    img {
      transform: scale(1.1);
      transition: transform 0.3s ease, opacity 0.4s ease-in-out;
      opacity: 1;
    }
  }
  
  &-title {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 0.95rem;
    @media (min-width: $large-phone) {
      margin-bottom: 2.5px;
      font-size: 1rem;
    }
    @media (min-width: $desktop-large) {
      font-size: 1.25rem;
    }
  }
  
  &-cta {
    display: none;
    
    @media (min-width: $desktop) {
      display: block;
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      transition: opacity 0.2s ease-in;
      
      a:hover {
        color: $white;
      }
    }
  }
  
  &-services {
    display: none;
    @media (min-width: $large-phone) {
      display: block;
    }
  }
}