section.hero-banner {
  position: relative;
  width: 100%;
  height: 700px;
  border-radius: 0 0 13vw 0;
  overflow: hidden;

  #gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;

    &.red {
      --gradient-color-1: #fe6f3a;
      --gradient-color-2: #f86f4d;
      --gradient-color-3: #fb228d;
      --gradient-color-4: #d3022d;
    }

    &.green {
      --gradient-color-1: #22e7a0;
      --gradient-color-2: #5cddf2;
      --gradient-color-3: #1371e5;
      --gradient-color-4: #18afc7;
    }

    &.purple {
      --gradient-color-1: #563af4;
      --gradient-color-2: #5d1ee0;
      --gradient-color-3: #874bb0;
      --gradient-color-4: #f85322;
    }

    &.yellow {
      --gradient-color-1: #ff9523;
      --gradient-color-2: #e1160a;
      --gradient-color-3: #c01306;
      --gradient-color-4: #fc8d29;
    }

    &.blue {
      --gradient-color-1: #2fcffd;
      --gradient-color-2: #fd0f15;
      --gradient-color-3: #9674e1;
      --gradient-color-4: #3560b4;
    }
  }
}
