// Some variables perhaps


// Colors
$red: #EC0434;
$pink: #FF3E3E;
$orange: #FF6600;
$service-green: #587b84;
$white: #FFFFFF;
$lightgrey: #DFE6E9;
$grey: #bcbdbd;
$darkgrey: #656565;
$darkestgrey: #333;
$black: #000000;


// Breakpoints - Derekstrap - copied here for ease of viewing
 $large-phone: 414px !default;
 $tablet: 720px !default;
 $desktop: 992px !default;
 $desktop-large: 1430px !default;
 $desktop-extra-large: 1600px !default;